<header class="relative h-20 w-full border-b bg-white border-b-gray-400">
  <nav class="absolute left-10 top-1/2 flex -translate-y-1/2 flex-row items-center gap-5">
    <a routerLink="/dashboard">dashboard</a>
    <a routerLink="/applications">applications</a>
    <a routerLink="/settings">settings</a>
  </nav>
  <button
    class="absolute right-20 top-1/2 flex h-12 w-auto -translate-y-1/2 items-center justify-center gap-2 rounded-2xl bg-[#1A1A1A] px-4 text-white"
    routerLink="/add-application"
  >
    <span class="text-xl">+</span>
    <p>Add application</p>
  </button>
  <div class="absolute right-6 top-1/2 -translate-y-1/2">
    <img class="h-10 w-10 rounded-full" src="/favicon.ico" alt="Profile" />
  </div>
</header>
